@model IEnumerable<IdentityUser>

<div class="text-center">
    <div class="display-6">
        Users
    </div>
</div>
<div class="d-flex justify-content-end">
    <a asp-action="Create" class="btn btn-outline-success">
        <i class="fa fa-solid fa-plus"></i>
        Add User
    </a>
</div>
<table>
    <thead>
            <tr>
                <td>Id</td>
                <td>Username</td>
                <td>Roles</td>
                <td>Operations</td>
            </tr>
    </thead>
    <tbody>
            @foreach(IdentityUser user in Model)
            {
        <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td user-name="@user.UserName" user-role=""></td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-warning rounded-0 " 
                        data-toggle="tooltip"
							data-placement="top"
							title="Update User"
                        asp-action="Update" asp-route-id="@user.UserName">
                        <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-info rounded-0 " 
                        data-toggle="tooltip"
							data-placement="top"
							title="Reset Password"
                        asp-action="ResetPassword" asp-route-id="@user.UserName">
                        <i class="fa fa-key"></i>
                        </a>
                        <form method="post" asp-action="DeleteOneUser">
                            <input type="hidden" name="Username" value="@user.UserName"/>
                            <button type="submit" 
                            data-toggle="tooltip"
							data-placement="top"
							title="Delete User" 
                            class="btn btn-danger rounded-0">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </td>
        </tr>
            }
    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript">

    $(document).ready(()=>{
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
}