@model IEnumerable<IdentityUser>

<div class="text-center">
    <div class="display-6">
        Users
    </div>
</div>
<div class="d-flex justify-content-end">
    <a asp-action="Create" class="btn btn-outline-success">
        <i class="fa fa-solid fa-plus"></i>
        Add User
    </a>
</div>
<table>
    <thead>
            <tr>
                <td>Id</td>
                <td>Username</td>
                <td>Roles</td>
                <td>Operations</td>
            </tr>
    </thead>
    <tbody>
            @foreach(IdentityUser user in Model)
            {
        <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td user-name="@user.UserName" user-role=""></td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-warning rounded-0 " asp-action="Update" asp-route-id="@user.UserName">Update User</a>
                        <a class="btn btn-info rounded-0 " asp-action="ResetPassword" asp-route-id="@user.UserName"> Reset Password</a>
                        <form method="post" asp-action="DeleteOneUser">
                            <input type="hidden" name="Username" value="@user.UserName"/>
                            <button type="submit" class="btn btn-danger rounded-0">
                                Delete User
                            </button>
                        </form>
                    </div>
                </td>
        </tr>
            }
    </tbody>
</table>